body {
	font-family: Helvetica;
	font-size: 50px;
	font-weight: 400;
	line-height: 1.1;
	text-align: center;
	
	background-color: #000000;
	color: #ffffff;
}

div.phrase {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

input{
	position: absolute;
	bottom: 50px;
	left: 40%;
	width: 20%;
}