body {
	font-family: Helvetica;
	font-size: 50px;
	font-weight: 400;
	line-height: 1.1;
	text-align: center;
	
	background-color: #000000;
	color: #ffffff;
}

div.phrase {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

input{
	position: absolute;
	bottom: 50px;
	left: 40%;
	width: 20%;
}

.slider {
	-webkit-appearance: none;
	height: 25px;
	background: #6a6a6a;
	outline: none;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
  }
  
  .slider:hover {
	opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 10px;
	height: 25px;
	background: rgb(255, 255, 255);
	cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
	width: 10px;
	height: 25px;
	background: rgb(255, 255, 255);
	cursor: pointer;