div {
    position: absolute;
  }
  
body {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* background-color: black; */
    background-image: 
    /* linear-gradient(rgba(0, 0, 0, 0.9),
    rgba(0, 0, 0, 0.9)),  */
    url("../images/background.png");
  }

#scene {
    width: 100vw;
    height: 100vh;
    /* top: 20%;
    left: 20%; */
    /* transform: translate(-50%, -50%); */
    /* text-align: center; */
  }

#type1 {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../images/type1.png");
    filter: brightness(130%);
  }

#lines {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../images/lines.png");
    filter: brightness(130%);
  }

#grids2 {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../images/grids2.png");
  }

#windows {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../images/windows.png");
    opacity: 80%;
  }

#retical {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../images/retical.png");
    filter: brightness(130%);
  }

#noise {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../images/noise.png");
    opacity: 0.4;
  }

  #type2 {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../images/type2.png");
  }

  #type4 {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../images/type4.png");
    filter: brightness(130%);
  }

  #grids1 {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../images/grids1.png");
    filter: brightness(110%);
  }

  #ui1 {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../images/ui1.png");
    filter: brightness(110%);
  }

  #ui2 {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../images/ui2.png");
    filter: brightness(150%);
  }

/* #type4:hover {
    filter: brightness(500%);
  } */